@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(194, 193, 193);
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }